:root {
  --red-color: #ff6f61;
  --yellow-color: #edb33c;
  --green-color: #039d7e;
  --gray-color: #d9d9d9;
}

body {
  background-color: #f9f9f9;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

nav ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 16px;
}

nav li {
  display: inline;
  list-style: none;
  padding: 10px 10px 5px 10px;
  transition: all 100ms;
}

nav a {
  color: black;
  opacity: 75%;
  text-decoration: none;
}

nav li.active a {
  color: var(--yellow-color);
}

nav li:hover {
  border-bottom: 2px solid var(--yellow-color);
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.about-me-section {
  padding-right: 45px;
}

h3 {
  font-family: "Prata", serif;
  font-size: 30px;
  margin-bottom: 15px;
}

h3.about-me {
  background-color: var(--yellow-color);
  border-radius: 30px;
  display: inline;
  line-height: 3;
  padding: 8px 30px;
}

h3 span.circle-detail {
  background-color: var(--yellow-color);
  font-size: 12px;
  padding: 0px 7px;
  margin: 5px 10px;
  position: relative;
  top: -8px;
  border-radius: 30px;
}

h3.technologies-title {
  margin-top: 40px;
}

.span-list {
  display: flex;
  flex-wrap: wrap;
}

span.list-element {
  background-color: var(--gray-color);
  border-radius: 30px;
  display: inline;
  padding: 8px 15px;
  margin: 5px;
}

@media (max-width: 576px) {
  .container {
    margin: 50px 0px 75px;
  }

  .secondary-col {
    margin-top: 20px;
  }
}
